doctype html
html
  head
    link href="/index.css" rel="stylesheet" type="text/css" /
    title I...am...Iron News
  body
    #container
      #header
        #logo
          | I
        #logo_long
          | Iron News
        #menu_bar
          ul
            li new
            li comments
            li show
            li ask
            li jobs
            li submit
        #login
          | login
      #links
        ol
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;")
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  discuss
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  1 comment
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  discuss
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  1 comment
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  discuss
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  1 comment
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  discuss
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  1 comment
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  discuss
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  1 comment
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  discuss
          li
            p.headline
              img src="assets/images/arrow.gif" style=("vertical-align:middle; padding: 2px;") 
              | I'm Commander Shepard
              em (alliancenews.net)
            p.subhead and this is my favorite store on the Citadel. |  1 comment
      hr/
      #footer
        #foot_menu
          ul.foot
            li Guidelines
            li FAQ
            li Support
            li Lists
            li Bookmarklet
            li DMCA
            li Y Combinator
            li Apply
            li Contact
        br/
        #search
          form
            | Search:
            input name="search" type="text" /
