body {
  background-color: #eef0f3;
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, sans-serif;
}
p {
  margin: 0px;
  color: black;
  font-family: Verdana, Geneva, sans-serif;
}

/* subheading color: #828282*/

#container {
  width: 100%;


}

#header {
  background-color: #8d90a1;
  color: black;
  height: 22px;
  margin: 0px;
  padding: 5px;

}

#logo {
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  background-color: #8d90a1;
  border: 1px solid white;
  font-weight: bold;
  float: left;
}

#logo_long {
  width: 100px;
  color: black;
  padding-left: 6px;
  font-weight: bold;
  float: left;
}

#menu_bar {
  float: left;
  width: 500px;
  
}

ul li {
  
  display: inline-block;
  border-left: white 2px;
  float: left;
  color: black;
  padding-left: 20px;
  list-style-type: none;
}

ol {
  color: #8d90a1;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

p.headline {
  color: black;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  list-style-image: arrow.gif 
}

p.subhead {
  color: #8d90a1;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  padding-left: 12px;
}